pkgbase = pepper-flash
	pkgdesc = Adobe's Pepper Flash plugin
	pkgver = 32.0.0.465
	pkgrel = 1
	url = https://get.adobe.com/flashplayer/
	arch = i686
	arch = x86_64
	license = custom
	depends = gcc-libs
	depends = glibc
	optdepends = flashplugin: Settings utility
	conflicts = chromium-pepper-flash
	source_i686 = flash_player_ppapi_linux_32.0.0.465.i386.tar.gz::https://fpdownload.adobe.com/get/flashplayer/pdc/32.0.0.465/flash_player_ppapi_linux.i386.tar.gz
	sha256sums_i686 = daa8d7f3bc1e8d9af651ecd59958da7c955fb20f8602b5b524570f9315db233d
	source_x86_64 = flash_player_ppapi_linux_32.0.0.465.x86_64.tar.gz::https://fpdownload.adobe.com/get/flashplayer/pdc/32.0.0.465/flash_player_ppapi_linux.x86_64.tar.gz
	sha256sums_x86_64 = 2fac28d1d7723fec39709f9db2b606d8ceba410f153c34f76397d23ac0d62bce

pkgname = pepper-flash